@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark-cyan-COLOR: hsl(158, 36%, 37%);
    --Cream-COLOR: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    display: grid;
    background-color: var(--Cream-COLOR);
    place-content: center;
    font-family: "Montserrat", sans-serif;
}

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 90px;
}

.product-content {
    margin: 0 20px;
}

img,
picture {
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product-content .category {
    color: var(--Dark-grayish-blue);
    letter-spacing: 4px;
    padding: 10px 0;
    font-size: 14px;
}

.product .product-content h1 {
    font-family: "Fraunces", serif;
    color: var(--Very-dark-blue);
    line-height: 1;
    margin: 20px 0;
}

.product .product-content p {
    color: var(--Dark-grayish-blue);
    line-height: 1.6;
}

.product .product-content .price {
    display: flex;
    margin: 20px 0;
}

.product .product-content .price .discount {
    color: var(--Dark-cyan-COLOR);
    font-family: "Fraunces", serif;
    font-size: 30px;
    margin-right: 20px;
}

button {
    background-color: var(--Dark-cyan-COLOR);
    color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

button:hover {
    background-color: hsl(158, 36%, 30%);
    cursor: pointer;
}

button::before {
    content: '🛒';
    width: 15px;
    height: 16px;
    margin-right: 10px;
}

@media (max-width: 700px) {
    .product {
        display: grid;
        grid-template-columns: 1fr;
    }
    img,
picture {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
}
   